<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="dns-prefetch" href="//ajax.googleapis.com" />
    <meta property="og:title" content="Transit" />
    <meta property="og:description" content="Transit" />
    <meta property="og:image" content="" />
    <%= stylesheet_link_tag 'transit' %>
</head>
<body>
    <div id="wrapper" class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" id="transit_toolbar">
            <div class="navbar-inner">
                <h1 class="brand"><i class="icon-truck"></i> transit</h1>
                <ul class="nav">
                    <li><a href="#"><i class="icon-list-ul"></i> Detail</a></li>
                    <li><a href="#"><i class="icon-suitcase"></i> Assets</a></li>
                </ul>
                <a id="save_button" class="btn btn-primary pull-right" href="#"><i class="icon-ok"></i> Save</a>
            </div>
        </div>
        <div id="transit_frame_wrapper">
            <iframe id="transit_frame" src=""></iframe>
        </div>
    </div>
<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>
<%= javascript_include_tag 'transit' %>
</body>
</html>